<?xml version="1.0" encoding="UTF-8" ?>

<odoo>
    <menuitem id="menu_school" name="School Management System"/>
    <menuitem id="menu_school_transport" name="Transport" parent="menu_school" sequence="10"/>
    <menuitem id="menu_school_transport_drivers" name="Drivers" action="action_school_driver"
              parent="menu_school_transport"/>
    <menuitem id="menu_transport_vechicle" name="Vechicle" action="action_transport_vechicle"
              parent="menu_school_transport"/>
    <menuitem id="menu_transport_assign" name="Assign Students" action="action_transport_assign"
              parent="menu_school_transport"/>
    <menuitem id="menu_school_Users" name="Users" parent="menu_school" sequence="20"/>
        <menuitem id="menu_users_teachers" name="Teachers" action="action_users_teachers" parent="menu_school_Users"/>


</odoo>